
<mat-card class="card">
  <mat-card-title>Entrar</mat-card-title>
  <mat-card-subtitle>* campos obrigatórios</mat-card-subtitle>
  <form #form='ngForm'>
    <mat-form-field>
      <input type="email" matInput placeholder="Email" [(ngModel)]="login.email" name="email" required/>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Senha" [(ngModel)]="login.password" name="passoword" required/>
    </mat-form-field>
  </form>
  <button mat-raised-button (click)="onSubmit()" [disabled]="form.form.invalid" color="primary">
    Entrar
  </button>
  <button mat-raised-button  color="accent" type="button" [routerLink]="['/usuarios/create']">Criar Usuário</button>
</mat-card> 