<mat-sidenav-container class="container">
  <mat-sidenav
    class="sidenave"
    mode="side"
    opened
    fixedInViewport="true"
    fixedTopGap="64"
  >
    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="/">
        <i class="material-icons"> home </i>
        Início
      </a>
      <a mat-list-item routerLink="/usuarios/create">
        <i class="material-icons"> app_registration </i>
        Novo Usuário
      </a>
      <a mat-list-item routerLink="/category">
        <i class="material-icons"> category </i>
        Categoria
      </a>
      <a mat-list-item routerLink="/article">
        <i class="material-icons"> article </i>
        Artigo
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
