
<mat-card>
  <mat-card-title>Artigo</mat-card-title>
  <form>
    <mat-form-field>
      <input matInput placeholder="titulo do Artigo" [(ngModel)]="articles.title" name="article" />
    </mat-form-field>
    
    <mat-form-field appearance="fill">
     <!-- <input matInput placeholder="Categoria" [(ngModel)]="articles.categoryId" name="categoria" />-->
       <mat-label>Categoria</mat-label>
      <mat-select [value]="articles.categoryId" name="category">
        <mat-option *ngFor="let category of categories" [value]="category.id" disabled>
          {{category.title}}
        </mat-option>
      </mat-select> 
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Digite seu texto" cols="30" rows="12" [(ngModel)]="articles.body" name="body"></textarea>
    </mat-form-field>

  </form>
  <button mat-raised-button (click)="voltar()" color="primary">
    voltar
  </button>
  
</mat-card> 
